streamlit
azure-ai-contentsafety
openai
python-dotenv
azure-identity
azure-keyvault-secrets
pandas
PyPDF2
python-docx
azure-storage-blob
azure-cosmos
azure-ai-documentintelligence
azure-core
matplotlib
plotly
matplotlib